{
  "plugins": ["prettier-plugin-gherkin"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.feature",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}
